@import url("headstyle.css");
@import url("index.css");


@media (min-width: 481px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30px auto auto;
    grid-template-areas:
        "hd"
        "nav"
        "main"
        "ft";
    justify-items: center;
    font-family: Avenir Next, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
  }
	main p {
		max-width: 60%;
	}
}

@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto 30px auto auto;
    grid-template-areas:
        "hd"
        "nav"
        "main"
        "ft";
    justify-items: center;
    font-family: Avenir Next, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
  }

.food {
	max-width: 70%
	}
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  line-height: 26px;
  max-width: 80%;
  justify-content: center;
  padding: 20px;
}


main p {
  color: rgb(40, 40, 40);
  line-height: 26px;
  margin: 26px 0px;
  text-align: justify;
	max-width: 90%;
}

.title {
    padding: 5px;
	text-transform: uppercase; 
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	padding-bottom: 30px;	
}
	
.nav-menu {
    background-color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	text-transform: lowercase;
	font-size: 14px;
	height: auto;
	padding-top:10px;
	justify-content: center;
}


