aside {
  grid-area: sd;
  background-color:brown;
  overflow: hidden;
  color: antiquewhite;
}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.about p {
  font-size: 15px;
  color: antiquewhite;
  padding: 40px;
}

p.burger {
	font-size: 100px;
	text-align: center;
	left: 50%;
	margin-left: auto;
    margin-right: auto;
    width: 8em
}