aside {
  grid-area: sd;
  background-color: brown;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: antiquewhite;
}

.about {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about img {
  height: 28vw;
}

.about p {
  margin: 0px;
  font-size: 15px;
  flex-basis: 66%;
  flex-grow: 1;
  padding: 5px;
  margin-right: 10%;
}

p.burger {
	font-size: 50px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 8em
}
